<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.borrowservice.mapper.BorrowMapper">

    <resultMap id="BorrowResultMap" type="com.example.common.entity.Borrow">
        <id property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="bid" column="bid"/>
    </resultMap>

    <select id="getBorrowsByUid" resultMap="BorrowResultMap" parameterType="int">
        SELECT id, uid, bid
        FROM DB_BORROW
        WHERE uid = #{uid}
    </select>

    <select id="getBorrow" resultMap="BorrowResultMap">
        SELECT id, uid, bid
        FROM DB_BORROW
        WHERE uid = #{uid}
          AND bid = #{bid}
    </select>

    <insert id="addBorrow">
        INSERT INTO DB_BORROW(uid, bid)
        VALUES(#{uid}, #{bid})
    </insert>
</mapper>

